@import url('https://fonts.googleapis.com/css2?family=Neuton&family=Poppins&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --global-font-family: Poppins, Neuton;
  --global-text-color: #191919;
  --global-primary-title-size: 2rem;
  --global-color-primary: #C71C81;
  --global-color-secondary: #7D7F81;
  --global-color-background: #FBFAF5;
  --global-color-danger: #ff6542;
  --global-body--background: radial-gradient(circle at 10% 20%, rgb(69, 86, 102) 0%, rgb(34, 34, 34) 90%);
  --global-glow--color: rgba(199, 28, 128, 0.2);
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: Poppins, sans-serif;
  font-weight: 300;
  color: #303030;
  background-color: var(--global-color-background);
}

.glassmorphism {
  background: rgba(255, 255, 255, 0.322);
  box-shadow: 0 0px 20px 0 rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(3px);
  -webkit-backdrop-filter: blur(9.5px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}

/* ======================================== navigation, headings and logo ======================================== */

#logo {
  display: inline-block;
  max-width: 20rem;
  min-width: 15rem;
  width: 100%;
  height: 100%;
  margin: .25rem;
}

/* navigation bar */
nav {
  display: flex;
  flex-flow: wrap;
  top: 0;
  z-index: 1;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 0 5%;
  border-bottom: 1px solid grey;
}

/* navigation bar unordered list of page links */

nav ul {
  display: flex;
  list-style: none;
  text-decoration: none;
  justify-content: space-evenly;
  margin: .25rem;
  width: 50%;
}

/* logo */

#logo_link {
  align-self: flex-start;
}

/* navigation bar links */

nav ul li {
  padding: .25rem;
  display: flex;
}

nav ul li a {
  text-decoration: none;
  color: var(--global-text-color)
}

nav ul li a:hover {
  color: var(--global-color-primary);
  border-bottom: 1px solid var(--global-color-primary);
}

.active {
  color: var(--global-color-primary);
  border-bottom: 1px solid var(--global-color-primary);
}

.topnav .icon {
  display: none;
}

.fa {
  color: var(--global-color-primary);
  height: 15px;
  width: 100%;
}

/* ======================================== main content ======================================== */

.content_margin_container {
  margin: 0 5%;
}

#myBtn {
  display: none; /* Hidden by default */
  position: fixed; /* Fixed/sticky position */
  bottom: 20px; /* Place the button at the bottom of the page */
  right: 20px; /* Place the button 30px from the right */
  z-index: 99; /* Make sure it does not overlap */
  border: 1px solid var(--global-color-primary); /* Remove borders */
  outline: none; /* Remove outline */
  background-color: none; /* Set a background color */
  opacity: 0.8;
  color: var(--global-text-color); /* Text color */
  cursor: pointer; /* Add a mouse pointer on hover */
  padding: 15px; /* Some padding */
  border-radius: 10px; /* Rounded corners */
  font-size: 18px; /* Increase font size */
  width: fit-content;
}

#myBtn:hover {
  background-color: var(--global-color-primary);
  /* Add a dark-grey background on hover */
  opacity: 1;
  box-shadow: 0 0 5px var(--global-color-primary), 
  0 0 7.5px var(--global-color-primary), 
  0 0 7.5px var(--global-color-primary), 
  0 0 10px var(--global-color-primary);
  color: var(--global-color-background);
}

#myBtn img {
  width: 20px;
  height: 20px;
}

/* ======================================== hero section ======================================== */

#hero {
  min-height: 90vh;
  background: var(--global-body--background);
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0px 20px 0 rgba(0, 0, 0, 0.2);
}

.hero {
  display: flex;
  margin: 2.5% 5% 1.5% 5%;
  flex-wrap: wrap;
  background: var(--global-body--background);
  width: 95%;
  height: 80%;
  border-radius: 30px;
}

.hero_text_area {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 2rem 2rem 2rem 10%;
  width: 50%;
}

.hero_image_area {
  width: 50%;
  max-height: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-position: center;
}

.hero_image_area img {
  width: 100%;
  height: 100%;
  max-height: 50vh;
  max-height: 750px;
  object-fit: contain;
}

.hero_text_area h1 {
  font-size: 2.5rem;
  margin-bottom: 1rem;
  padding: 1rem;
  color: var(--global-color-background);
}

.hero_text_area p {
  font-size: 1.1rem;
  font-family: sans-serif;
  margin-bottom: 1.5rem;
  line-height: 1.6;
  padding: 0 0 0 1rem;
  color: var(--global-color-background);
}

.primary {
  color: var(--global-color-primary);
  border-bottom: 3px solid var(--global-color-primary);
}

#hero_button_container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 5px;
  width: 100%;
}

button {
  font-size: 1rem;
  font-weight: 600;
  padding: 0.75rem 1.5rem;
  cursor: pointer;
  transition: all 0.3s ease;
  margin: 1rem auto 1rem auto;
  width: 50%;
  color: var(--global-color-background);
  background: rgba(25, 25, 25, 0.322);
  box-shadow: 0 0px 20px 0 rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(3px);
  -webkit-backdrop-filter: blur(9.5px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}

.main_button {
  box-shadow: 0 0 5px var(--global-color-primary),
    0 0 7.5px var(--global-color-primary),
    0 0 7.5px var(--global-color-primary),
    0 0 10px var(--global-color-primary);
  color: var(--global-color-primary);
}

button:hover {
  background: var(--global-color-primary);
}

.hero button:hover {
  background: var(--global-color-primary);
  color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 5px var(--global-color-primary),
    0 0 25px var(--global-color-primary),
    0 0 50px var(--global-color-primary),
    0 0 100px var(--global-color-primary);
}

.fa-arrow-down {
  display: flex;
  justify-content: center;
  align-items: center;
}

.arrow img {
  width: 5%;
}

body { background: none}
a { color: white; text-decoration: none; }

.arrow {
  text-align: center;
}
.bounce {
  -moz-animation: bounce 2s infinite;
  -webkit-animation: bounce 2s infinite;
  animation: bounce 2s infinite;
}

@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-40px);
  }
  60% {
    transform: translateY(-20px);
  }
}

/* ======================================== tab section ======================================== */

.tab_section {
  margin: 5% 0;
}

.tab_container {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
  padding: 2rem 2rem 0 2rem;
}

.tab_content_container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  padding: 2rem;
  box-shadow: 0 0px 20px 0 rgba(255, 255, 255, 0.2);
}

/* Style the tab */
.tab {
  overflow: hidden;
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 2%;
  width: 100%;
  background-color: var(--global-color-background);
  box-shadow: 0 0px 20px 0 rgba(19, 19, 19, 0.2);
}

.tab_section h2,
.tab_section p {
  text-align: center;
}

.tab_section h2 {
  margin: 1rem 0 1rem 0;
  color: var(--global-color-primary);
  font-size: 2rem;
}

/* Style the buttons that are used to open the tab content */
.tab button {
  background: rgba(0, 0, 0, 0.8);
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  margin-right: 1%;
  margin-left: 1%;
  transition: 0.3s;
  box-shadow: 0 0px 20px 0 var(--global-glow--color);
}

/* Change background color of buttons on hover */
.tab button:hover {
  background: var(--global-color-primary);
  border: 1px solid rgba(255, 255, 255, 0.35);
  color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 20px var(--global-color-primary);
}

/* Create an active/current tablink class */
.tab button.active {
  background-color: var(--global-color-primary);
  color: var(--global-color-background);
}

/* Style the tab content */
.tabcontent {
  display: flex;
  flex-grow: 1;
  gap: 0.25rem;
  flex-direction: column;
  align-items: center;
  padding: 6px 10px;
  box-shadow: 0 0px 20px 0 rgba(19, 19, 19, 0.2);
}

.tabcontent img {
  width: 30%;
  max-height: 30vh;
  min-width: 200px;
  object-fit: contain;
}

.tabcontent h2 {
  color: var(--global-color-primary);
}

.tabcontent p {
  font-family: sans-serif;
  width: 50%;
  text-align: center;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.tabcontent button {
  background-color: rgba(0, 0, 0, 0.8);
  width: 25%;
}

.tabcontent button:hover {
  background: var(--global-color-primary);
  border: 1px solid rgba(255, 255, 255, 0.35);
  color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 5px var(--global-color-primary),
    0 0 25px var(--global-color-primary),
    0 0 50px var(--global-color-primary),
    0 0 100px var(--global-color-primary);
}

/* ======================================== Contact section ======================================== */

.contact_section {
  display: flex;
  justify-content: space-around;
  width: 100%;
  height: 100%;
  padding: 2rem;
  margin: 5% 0;
  box-shadow: 0 0px 20px 0 rgba(255, 255, 255, 0.2);
}

.contact_text {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 300px;
}

.contact_text p {
  font-family: sans-serif;
  width: 100%;
  text-align: center;
}

.contact_text h2 {
  color: var(--global-color-primary);
  text-align: center;
}

.login-box {
  width: 100%;
  max-width: 500px;
  padding: 40px;
  background: rgba(0, 0, 0, 0.8);
  box-shadow: 0 15px 25px rgba(0, 0, 0, .6);
  border-radius: 20px;
  margin-left: 3vh;
  margin-right: 3vh;
}

.login-box h2 {
  margin: 0 0 30px;
  padding: 0;
  color: var(--global-color-background);
  text-align: center;
}

.login-box .user-box {
  position: relative;
}

.login-box .user-box input {
  width: 100%;
  padding: 10px 0;
  font-size: 16px;
  color: var(--global-color-background);
  margin-bottom: 30px;
  border: none;
  border-bottom: 1px solid var(--global-color-background);
  outline: none;
  background: transparent;
}

.login-box .user-box label {
  position: absolute;
  top: 0;
  left: 0;
  padding: 10px 0;
  font-size: 16px;
  color: var(--global-color-background);
  pointer-events: none;
  transition: .5s;
}

.login-box .user-box input:focus~label,
.login-box .user-box input:valid~label {
  top: -20px;
  left: 0;
  color: var(--global-color-background);
  font-size: 12px;
}

.login-box form .input-box {
  position: relative;
  display: inline-block;
  padding: 10px 20px;
  color: var(--global-color-background);
  font-size: 16px;
  text-decoration: none;
  text-transform: uppercase;
  overflow: hidden;
  transition: .5s;
  margin-top: 40px;
  letter-spacing: 4px
}

.login-box .input-box:hover {
  background: var(--global-color-primary);
  color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 5px var(--global-color-primary),
    0 0 25px var(--global-color-primary),
    0 0 50px var(--global-color-primary),
    0 0 100px var(--global-color-primary);
}

.login-box .input-box span {
  position: absolute;
  display: block;
}

.login-box .input-box span:nth-child(1) {
  top: 0;
  left: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(90deg, transparent, var(--global-color-primary));
  animation: btn-anim1 1s linear infinite;
}

/*keyframes are used to animate the buttons on the sigup box*/

@keyframes btn-anim1 {
  0% {
    left: -100%;
  }

  50%,
  100% {
    left: 100%;
  }
}

.login-box .input-box span:nth-child(2) {
  top: -100%;
  right: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(180deg, transparent, var(--global-color-primary));
  animation: btn-anim2 1s linear infinite;
  animation-delay: .25s
}

/*keyframes are used to animate the buttons on the sigup box*/
@keyframes btn-anim2 {
  0% {
    top: -100%;
  }

  50%,
  100% {
    top: 100%;
  }
}

.login-box .input-box span:nth-child(3) {
  bottom: 0;
  right: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(270deg, transparent, var(--global-color-primary));
  animation: btn-anim3 1s linear infinite;
  animation-delay: .5s
}

/*keyframes are used to animate the buttons on the sigup box*/
@keyframes btn-anim3 {
  0% {
    right: -100%;
  }

  50%,
  100% {
    right: 100%;
  }
}

.login-box .input-box span:nth-child(4) {
  bottom: -100%;
  left: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(360deg, transparent, var(--global-color-primary));
  animation: btn-anim4 1s linear infinite;
  animation-delay: .75s
}

.login-box .input-box input[type="submit"]{
  display:none;
}

/*keyframes are used to animate the buttons on the sigup box*/
@keyframes btn-anim4 {
  0% {
    bottom: -100%;
  }

  50%,
  100% {
    bottom: 100%;
  }
}

/* ======================================== footer section ======================================== */

footer {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
  align-items: flex-start;
  width: 100%;
  height: 100%;
  padding: 2rem;
  background: var(--global-body--background);
  color: var(--global-color-background);
  box-shadow: 0 0px 20px 0 rgba(255, 255, 255, 0.2);
}

footer nav {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: none;
  width: fit-content;
  flex-grow: 1;
}

footer div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-grow: 1;
  width: 25%;
}

.footer_nav {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

footer ul li {
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}

footer ul li a {
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: var(--global-color-background);
}

footer ul li a:hover {
  color: var(--global-color-primary);
  border-bottom: 1px solid var(--global-color-primary);
}

footer ul li a:visited {
  color: var(--global-color-background);
  text-decoration-line: line-through;
}

footer ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  list-style: none;
  margin: 1rem;
}

footer nav h2, footer div h2 {
  text-align: center;
  align-self: center;
}

.contact_main h1 {
  margin: 0 auto 0 auto;
  text-align: center;
  padding-top: 2rem;
  color: var(--global-color-primary);
}

/*======================================== Blog Page ======================================== */

.content__wrapper {
  padding-top: 80px;
  padding-bottom: 80px;
  max-width: 580px;
  margin: 0 auto 0 auto;
}

#blog_header {
  min-height: 25vh;
  background: var(--global-body--background);
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0px 20px 0 rgba(0, 0, 0, 0.2);
  z-index: -1;
}

.astronaut_ideating {
  width: 100%;
  height: 100%;
}

.blog_header img {
  max-height: 25vh;
}

.blog_header h1 {
  color: var(--global-color-background);
  font-size: 2rem;
  font-weight: 700;
  margin: 0;
  padding-bottom: 1rem;
  text-decoration: underline;
}

.blog_header {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 0;
  background: var(--global-body--background);
}

.blog_header .hero_image_area {
  z-index: 1;
}

.blog_content {
  overflow: visible;
  height: fit-content;
}

.chapter-sidebar {
  position: absolute;
  padding: 10px 10px;
  right: 28px;
  top: 450px;
  max-width: 250px;
  border-left: 1px solid var(--global-color-primary);
  border-radius: 0px;
}

.chapter-sidebar ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.chapter-sidebar ul li a {
  color: var(--global-text-color);
  text-align: left;
  text-decoration: none;
  display: block;
  border-bottom: 1px solid var(--global-text-color);
}

.sidebar-sticky {
  position: fixed;
  top: 20px;
  right: 28px;
  overflow: visible;
  height: fit-content;
  z-index: 0;
}

.contact_section {
  z-index: 1;
}

/*======================================== Blog Home Page ======================================== */

.card {
  /* Add shadows to create the "card" effect */
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  margin-top: 5%;
  display: flex;
  align-items: center;
  border-radius: 20px;
}

.card_image_left {
  display: flex;
  align-items: center;
}

.card_image_right img {
  order: 1;
}

.card_image_right .card_container {
  order: 0;
}

.card img {
  width: 100%;
  height: 20vh;
  margin: 0 2rem;
}

/* On mouse-over, add a deeper shadow */
.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

/* Add some padding inside the card container */
.card_container {
  padding: 1rem 2rem;
  max-height: 40vh;
}

.card_container p {
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  display: -webkit-box;
}

/* ======================================== Thank You Page ======================================== */

.thank_you_hero {
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.thank_you_hero h1 {
  font-size: 4rem;
  text-align: center;
  padding: 2rem;
}

.thank_you_hero p {
  text-align: center;
}

.thank_you_hero img {
  max-height: 40vh;
}

.thank_you_hero .hero_text_area {
  padding: 0rem 2rem 2rem 2rem;
}

/* ======================================== Breakpoints ======================================== */

/* Semi-large screens */
@media all and (max-width: 1200px) {

  /* Adjust hero_text_area padding for screens up to 1200px */
  .hero_text_area {
    padding: 1rem 0 1rem 2rem;
  }

  /* Hide chapter-sidebar for screens up to 1200px */
  .chapter-sidebar {
    display: none;
  }
}

/* 1000px screens */
@media all and (max-width: 1000px) {

  /* ========= Hero Section ========= */

  /* Make hero section a column layout for screens up to 1000px */
  .hero {
    flex-direction: column;
  }

  /* Adjust hero_text_area width, order and padding for screens up to 1000px */
  .hero_text_area {
    width: 100%;
    order: 1;
    padding: 0 4rem 2rem 4rem;
  }

  /* Adjust hero_image_area width and order for screens up to 1000px */
  .hero_image_area {
    width: 100%;
    order: 0;
  }

  /* Adjust hero image size for screens up to 1000px */
  .hero img {
    max-height: 40vh;
  }

  /* Adjust hero header font size and alignment for screens up to 1000px */
  .hero h1 {
    font-size: 2rem;
    text-align: center;
  }

  /* Adjust hero paragraph font size and alignment for screens up to 1000px */
  .hero p {
    font-size: 1rem;
    text-align: center;
  }

  /* ========= Tab Section ========= */

  /* Adjust tab section button font size for screens up to 1000px */
  .tab_section button {
    font-size: 0.8rem;
  }
}

/* 900 px screens */
@media all and (max-width: 900px) {

  /* Hide top navigation unordered list for screens up to 900px */
  .topnav ul {
    display: none;
  }

  /* Display burger menu icon for screens up to 900px */
  .topnav span.icon {
    display: block;
  }

  /* Adjust top navigation responsiveness for screens up to 900px */
  .topnav.responsive {
    position: relative;
  }

  /* Adjust top navigation responsive unordered list for screens up to 900px */
  .topnav.responsive ul {
    float: none;
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    text-align: left;
  }

  /* Adjust top navigation responsive logo link for screens up to 900px */
  .topnav.responsive #logo_link {
    margin: 0 auto 0 auto;
  }

}

/* Medium screens */
@media all and (max-width: 800px) {

  /* Wrap tab buttons for screens up to 800px */
  .tab {
    flex-wrap: wrap;
  }

  /* Adjust tab button minimum width for screens up to 800px */
  .tab button {
    min-width: 50vw;
  }

  /* Adjust tab content container button width for screens up to 800px */
  .tab_content_container button {
    width: fit-content;
  }

  /* Adjust tab button margin and width for screens up to 800px */
  .tab button {
    margin-top: 0.25rem;
    margin-bottom: 0.25rem;
    width: 100%;
  }

  /* Adjust contact_section layout for screens up to 800px */
  .contact_section {
    flex-direction: column;
    align-items: center;
  }

  /* Adjust contact_text order, width, and margin for screens up to 800px */
  .contact_text {
    order: 0;
    width: 100%;
    max-width: none;
    margin: 0 5% 5% 5%;
  }

  /* Adjust login-box order for screens up to 800px */
  .login-box {
    order: 1;
  }

  /* Adjust card layout for screens up to 800px */
  .card {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  /* Adjust card_container layout for screens up to 800px */
  .card .card_container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  /* Adjust card_container paragraph and header alignment for screens up to 800px */
  .card_container p,
  .card_container h2 {
    text-align: center;
  }

  /* Adjust card_image_right image order for screens up to 800px */
  .card_image_right img {
    order: -1;
  }
}

/* Small screens */
@media all and (max-width: 500px) {

  /* Adjust logo image width for screens up to 500px */
  nav #logo_link img {
    width: 30vw;
  }

  /* Adjust hero section margin for screens up to 500px */
  .hero {
    margin: 2%;
  }

  /* Adjust hero_text_area padding for screens up to 500px */
  .hero_text_area {
    padding: 5%;
  }

  /* Adjust hero header font size and alignment for screens up to 500px */
  .hero h1 {
    font-size: 1.25rem;
    text-align: center;
  }

  /* Adjust hero paragraph font size and alignment for screens up to 500px */
  .hero p {
    font-size: 1rem;
    text-align: center;
  }

  /* Adjust hero image size for screens up to 500px */
  .hero img {
    max-height: 35vh;
  }

  /* Adjust hero button container layout for screens up to 500px */
  #hero_button_container {
    flex-direction: column;
  }

  /* Adjust hero button text alignment and width for screens up to 500px */
  .hero button {
    text-align: center;
    min-width: fit-content;
  }

  /* Adjust tab content container header font size and alignment for screens up to 500px */
  .tab_content_container h2 {
    font-size: 1.25rem;
    text-align: center;
  }

  /* Adjust tab content container paragraph font size and alignment for screens up to 500px */
  .tab_content_container p {
    font-size: 1rem;
    text-align: center;
  }

  /* Adjust tab content container image size for screens up to 500px */
  .tab_content_container img {
    max-height: 20vh;
  }

  /* Adjust tab content container button width for screens up to 500px */
  .tab_content_container button {
    width: fit-content;
  }

 

  /* Adjust top navigation logo to remove tagline */
  #logo {
    content: url("images/logo/shortened_logo_transparent_background.webp");
  }

  #myBtn {
    bottom: 20px; /* Place the button at the bottom of the page */
    right: 10px; /* Place the button 30px from the right */
  }

  footer {
    flex-direction: column;
    align-items: center;
  }

  

}

/* Extra small screens */
@media all and (max-width: 350px) {
  .topnav {
    flex-direction: column;
  }

  .icon {
    margin-bottom: 1rem;
  }
}